.col-xs-2.sidebar
  %h3 Admin panel
  %ul.nav.nav-tabs.nav-stacked
    %li
      %a{:href => "/admin/accounts"} Accounts
    %li
      %a{:href => "/admin/admin_accounts"} Admins
    %li
      %a{:href => "/admin/server_pubkeys"} Server Pubkeys
    %li
      %a{:href => destroy_admin_account_session_path, "data-method" => "delete"} Log out      
.col-xs-10.main
  = yield